# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Packaging
.build/
.dist/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Local env
.env
.env.*

# Editor
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Build artifacts
build/
